$colori: (
'bluNav': #170A48,
'arancioBtn': #FFA500,
'arancioA': #F17730,
'azzurroFoo': #6185F9,
'biancoNav': #FFFF,
'azzurroBordo': #89B3FB,
'grigioOmbra': #b3b3b3
);

$testoItalic: italic;
$decorazione: none;
$tratteggio: 1px dashed grey;
$pallini: none;
$roboto: 'Roboto', sans-serif;
$openSans: 'Open Sans', sans-serif;
 
